@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar override needed since Tailwind doesn't have native scrollbar styling by default without plugins */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #282828;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  @apply bg-bg-primary text-text-primary;
}